*~
_*
*.o
*.d
*.s
!hello.s
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit
/TAGS
/tags
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/bin/*.s
/bin/*.out
/changes.md
